@tailwind base;

@import url('https://rsms.me/inter/inter.css');

a {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

a:hover {
  color: black;
}

@tailwind components;

@tailwind utilities;
